@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

#home {
    display: flex;
}

/* CONTEÚDO PRINCIPAL */
#home div {
    position: absolute;
    width: 50vw;
    aspect-ratio: 756 / 454;
    background-color: #FEBD2F;
    box-shadow: 0 0 20px #FEBD2F;
    padding: 2rem;
    z-index: 50;
    margin-left: 10vw;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

#home div p {
    color: #ffffff;
    text-indent: 5vw;
    font-weight: 550;
    font-size: 1.5vw;
}

#home div h1 {
    color: #001631;
    text-align: center;
    font-weight: 550;
    font-size: 4vw;
}

#home div h2 {
    color: #ffffff;
    text-align: center;
    font-weight: 550;
    font-size: 3vw;
}

/* IMAGEM */
#home-img {
    width: 100%;
    display: flex;
    justify-content: end;
}

#home-img img {
    width: auto;
    height: 150vh;
    object-fit: cover;
    object-position: center;
    transform: translate(20vw, 30vh);
    filter: drop-shadow(0 0 5px #000000);
}

/* === MEDIA QUERIES === */

/* Dispositivos até 768px */
@media (max-width: 768px) {
    #home {
        min-height: 60vh;
        padding-top: 5vh;
        flex-direction: column;
    }

    #home div {
        position: relative;
        width: 80%;
        margin: 10vw auto;
        padding: 1rem;
    }

    #home div p {
        font-size: 3vw;
    }

    #home div h1 {
        font-size: 6vw;
    }

    #home div h2 {
        font-size: 4vw;
    }

    #home-img {
        display: none;
    }
}

/* Dispositivos menores, até 550px */
@media (max-width: 550px) {
    #home {
        min-height: 50vh;
        padding-top: 5vh;
    }

    #home div {
        width: 80%;
        height: auto;
        gap: 1rem;
        padding: 5vh;
    }
}

/* Tablets em modo retrato */
@media (orientation: portrait) and (max-width: 1024px) {
    #home {
        flex-direction: column;
        min-height: auto;
        padding: 5vh 0;
    }

    #home div {
        position: relative;
        width: 90%;
        margin: 0 auto;
        padding: 1.5rem;
        gap: 1.5rem;
    }

    #home div h1 {
        font-size: 6vw;
    }

    #home div h2 {
        font-size: 4.5vw;
    }

    #home div p {
        font-size: 4vw;
    }

    #home-img {
        display: none;
    }
}
