/* === ELEMENTO PRINCIPAL === */
#home {
    display: flex;
}

/* === CONTEÚDO PRINCIPAL === */
#home-inner {
    position: absolute;
    width: 50vw;
    aspect-ratio: 756 / 454;
    background-color: #FEBD2F;
    box-shadow: 0 0 20px #FEBD2F;
    padding: 2rem;
    z-index: 50;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

#home-inner h1,
#home-inner h2,
#home-inner p {
    font-weight: 550;
    text-align: center;
}

#home-inner h1 {
    color: #001631;
    font-size: 4vw;
}

#home-inner h2 {
    color: #ffffff;
    font-size: 3vw;
}

#home-inner p {
    color: #ffffff;
    text-indent: 5vw;
    font-size: 1.5vw;
    text-align: left;
}

/* === IMAGEM === */
#home-img {
    width: 100%;
    display: flex;
    justify-content: end;
}

#home-img img {
    width: auto;
    height: 150vh;
    object-fit: cover;
    object-position: center;
    transform: translate(20vw, 30vh);
}

/* === MEDIA QUERIES === */

/* Até 768px */
@media (max-width: 768px) {
    #home {
        height: 50vh;
        padding-top: 2.5vh;
        flex-direction: column;
        justify-content: center;
    }

    #home-inner {
        position: relative;
        width: 80%;
        margin: 0 auto;
        padding: 1rem;
    }

    #home-inner h1 {
        font-size: 6vw;
    }

    #home-inner h2 {
        font-size: 4vw;
    }

    #home-inner p {
        font-size: 3vw;
    }

    #home-img {
        display: none;
    }
}

/* Até 550px */
@media (max-width: 550px) {
    #home {
        height: 50vh;
        padding-top: 5vh;
    }

    #home-inner{
        width: 80%;
        height: auto;
        gap: 1rem;
        padding: 5vh;
    }
}

/* Tablets em modo retrato */
@media (orientation: portrait) and (max-width: 1024px) {
    #home {
        flex-direction: column;
        height: 50vh;
        padding: 5vh 0;
        justify-content: center;
    }

    #home-inner {
        position: relative;
        width: 90%;
        margin: 0 auto;
        padding: 1.5rem;
        gap: 1.5rem;
    }

    #home-inner h1 {
        font-size: 6vw;
    }

    #home-inner h2 {
        font-size: 4.5vw;
    }

    #home-inner p {
        font-size: 4vw;
    }

    #home-img {
        display: none;
    }
}


