/* Sidebar styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

#sidebar {
    position: absolute;
    width: 350px;
    height: 100vh;
    background-color: #FEBD2F;
    box-shadow: 0 0 35px #FEBD2F;
    z-index: 1000;
    transform: translateX(-120%);
    transition: transform 0.5s ease;
}

#sidebar.active {
    transform: translateX(0);
}

/*Logos*/
#logo-header img {
    width: auto;
    height: 10vh;
    filter: drop-shadow(0 0 2px #FEBD2F);
}

#sidebar ul li figure a img {
    width: auto;
    height: 25vh;

}

.logo {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
}

/*Links*/
#sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    gap: 1vh;
}

#sidebar ul li {
    margin: 0 1vh 0 1vh;
    position: relative;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 1vh 0;
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
    border-radius: 5px;
    text-indent: 5vh;
    transition: all 0.2s ease;
}

.nav-link i {
    font-weight: 400 !important;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* distância da linha para o texto */
    width: 0%;
    height: 3px;
    background-color: #ffffff;
    transition: width 0.3s ease;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-link:hover::after {
    width: 80%;
  }

#sidebar ul li figure {
    text-align: center;
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }

    #sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background-color: #FEBD2F;
        box-shadow: 10 0px 10px rgba(0, 0, 0, 0.2);
        transform: translateX(0);
        text-align: center;
        align-items: center;
        padding: 0;
        z-index: 1000;
    }

    #sidebar ul {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    #sidebar ul li {
        margin: 0;
        position: relative;
        flex: 1;
        /* Para que os itens ocupem o espaço igualmente */
    }

    #sidebar ul li:has(figure) {
        display: none;
        /* Esconde o logo no mobile */
    }

    .nav-link span {
        display: none;
    }

    .nav-link {
        padding: 0;
        text-indent: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}